@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

body {
  background-image: url("/assets/bg-rfb.jpg");
  background-size: cover; /* Ensure the image covers the entire page */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-attachment: fixed;
}

.prose h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.prose h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.prose table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0px;
}

.prose th,
.prose td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.prose th {
  background-color: #f8f8f8;
  font-weight: bold;
}
